body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 0.03em;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 224, 224);
}

.display {
  background: grey;
  text-align: end;
  padding: 10px;
  color: #fff;
}

.combined {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px auto;
}

.digits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  padding: 0;
  margin-top: 0;
}

button {
  text-align: center;
  border: none;
  padding: 10px;
  background: rgb(194, 194, 194);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operations {
  background-color: #ffa500;
}

.displayed-quote {
  font-style: italic;
  width: 70%;
  margin: 30px auto;
  text-align: center;
  margin: 30% auto;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  margin-right: 5%;

}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  padding: 25px;
  align-items: center;

}
nav a{
  padding: 5px;
  text-decoration: none;
  color: black;
  margin-right:5%;
}
nav a.active {
  text-decoration: none;
  font-weight: bold;
}
.home-text{
  text-align: center;
  padding: 12%;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  font-size: 20px;
}